html {
  height: 100%;
  width: 100%;
}
body {
  background-image: url('assets/forest.png'); 
  background-repeat: no-repeat; 
  background-size: cover;
  background-position: center;
}
#bigFoot {
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 1;
  visibility: hidden;
}